<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= Artist.where(id: @work.artist_id).first.name %>
</p>

<p>
  <strong>Movement:</strong>
  <%= Movement.where(id: Artist.where(id: @work.artist_id).first.id).first.name %>
</p>

<p>
  <strong>Year completed:</strong>
  <%= @work.year_completed %>
</p>

<p>
  <strong>Materials:</strong>
  <%= @work.materials %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @work.image_url %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
